@charset "utf-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
}

.firma{
	color: aliceblue;
	font-family: Dancing Script;
	font-size: 20px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 10%;
	margin-top: 10%;
	
}

.enlacefirma{
	color: #FFFDFD;
}
.portada{
	object-fit: cover;
	width: 100%;
	height: 200px;
	object-position: 20% 10% ;
}

.title {
	margin: auto;
	font-family: Dancing Script;
	font-size: 40px;
	text-align: center;
	color:#FFFFFF;
	padding: 10px;
	
}
.serv{
	font-family: Dancing Script;
	font-size: 40px;
	color: #BF3EA6;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.logo{
	margin-left: auto;
    margin-right: auto;
	margin-bottom: 50px;
	margin-top: 50px;
    display: block;
	height: 100px;
}
.logo22{
	width: 25%;
}
h2{
	font-family: Poppins Light;
	color: #8F8F8E;
	text-align: center;
}
h3{
	font-family: Poppins Light;
	color: #8F8F8E;
	text-align: center;
}
.texto1{
	padding: 20px;
	margin-top: 50px;
}
.experiencia{
	background-color: #FFFFFF;
	border: solid 2px #DBD7D7;
	border-radius: 20px;
	width: 100%;
	align-content: center;
	display: block;
	margin: auto;
	padding: 20px;
	
}
.proyecto{
	width: 50%;
	height: 500px;
display: block;
	margin: auto;
}
.textoa{
	font-family: Ramona Light;
	color: #000000;
	font-size:  30px;
	margin: 10%;
}
.servicio{
	width: 15%;
}
.menuser{
	width:33%;
	display: block;
	margin: auto;
}
.menuarcoiris{
	background-color: #2f3692;
	padding: 15px;
	display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}
.footercontacto{
	background-color: #2f3692;
	margin-right: 0px;
	margin-left: 0px;
	padding: 0px;
}

.contenedor {
	margin-top:50px;
}


.item-menu{
	margin: auto; 
    font-family: Dancing Script;
	font-size: 30px;
}
.fotos{
	display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
}
.servicios-item {
	font-family: Ramona Light;
	color: #8F8F8E;
	background-color: #FFFFFF;
	border: solid 2px #DBD7D7 ;
	border-radius: 20px;
	width: 100%;
	height: auto;
	align-content: center;
	display: block;
	margin: auto;
	padding: 20px;
	
}
.fotos2{
	border-radius: 10px;
	height: 200px;
	padding: 0;
	display:block;
	margin-bottom: 20px;
	margin-right: auto;
	margin-left: auto;
	align-content: center;
}
.last{
	border-radius: 10px;
	height: 150px;
	padding: 0;
	display:block;
	margin: auto;
	align-content: center;
}
.icono{
	display: block;
	margin:auto;
	width: 50px;
	justify-content: center;
}
.iconocaja{
	display: grid;
	grid-template-columns: 50% 50%;
	justify-content: center;
}
.avatar {
	object-fit: cover;
	width: 12%;
	height: 12%;
	object-position: 50% 50%;
	border-radius: 100%;
	margin: auto;
	display: block;
}

.terraza {
	width: 100%;
	border-radius: 30px;
}

.insta{
	height: 50px;
    margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 10%;
	margin-top: 10%;
}
.whatsapp{
	height: 50px;
    margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 10%;
	margin-top: 10%;
	
}

.boton{
	margin-top: 20%;
	margin-left: 33%;
	margin-right: 33%;
	margin-bottom: 20%;
}

.botonregis {

	margin-top: 20%;
	margin-left: 33%;

}

.botonmodo{
   background-color:#000000;
   color: #FFFFFF;
}

.donate{
	margin-top: 13%;
	margin-left: 33%;
	margin-right: 33%;
}
@font-face{
	font-family: Ramona Bold;
	src: url("../Ramona/Ramona-Bold.ttf");
}
@font-face{
	font-family: Ramona Light;
	src: url("../Ramona/Ramona-Light.ttf");
}
@font-face{
	font-family: Dancing Script;
	src: url("../Dancing_Script/static/DancingScript-Bold.ttf");
}
@font-face {
	font-family: Montserrat Light;
	src: url("file:///D:/Greta/Code/Veterinaria/Montserrat/static/Montserrat-Light.ttf")
}
@font-face {
	font-family: Poppins Light;
	src: url("file:///D:/Greta/Code/Veterinaria/Poppins/Poppins-Light.ttf")
}

@media (max-width: 500px){
	.contenido{
		flex-direction: column;
	}
}